.inputWrapper {
    width: 100%;
}

.inputWrapper .input {
    width: 100%;
    max-width: -moz-available;
    max-width: -webkit-fill-available;
    padding: 4px;
    border: 2px solid var(--light-grey);
    border-radius: 3px;
    outline: none;
    color: var(--black);
}

.inputWrapper .input:focus {
    border-color: var(--primary);
}

.inputWrapper .label {
    color: var(--black);
    margin-bottom: 4px;
    user-select: none;
}